In [2]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [3]:
book = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding="latin-1")
book.columns = ['ISBN', 'bookTitle', 'bookAuthor', 'yearOfPublication', 'publisher', 'imageUrlS', 'imageUrlM', 'imageUrlL']
user = pd.read_csv('BX-Users.csv', sep=';', error_bad_lines=False, encoding="latin-1")
user.columns = ['userID', 'Location', 'Age']
rating = pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding="latin-1")
rating.columns = ['userID', 'ISBN', 'bookRating']

Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

C:\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
print rating['userID'].unique().shape[0]
print rating['ISBN'].unique().shape[0]

105283
340556

In [90]:
print 'Number of unique users is',rating['userID'].unique().shape[0]
print 'Number of unique book is',rating['ISBN'].unique().shape[0]

Number of unique users is 105283
Number of unique book is 340556

In [123]:
# rating['userID'].value_counts()

In [5]:
#check missing value
np.sum(rating.isnull())

userID        0
ISBN          0
bookRating    0
dtype: int64

In [6]:
np.sum(rating.duplicated())

0

In [231]:
rating2=rating.copy()

In [232]:
rating2.head()

   userID        ISBN  bookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [233]:
# rating2.groupby('userID')['bookRating'].mean().to_frame()

In [206]:
rating2=rating2.merge(rating2.groupby('userID')['bookRating'].mean().to_frame().reset_index(),left_index=True,right_index=True,suffixes =['',' user_avg'],how='left')
rating2=rating2.merge(rating2.groupby('ISBN')['bookRating'].mean().to_frame().reset_index(),left_on='ISBN',right_on='ISBN',suffixes =['',' book_avg'],how='left')
rating2=rating2.merge(rating2.groupby('userID')['bookRating'].count().to_frame().reset_index(),left_index=True,right_index=True,suffixes =['',' user_review_count'],how='left')
rating2=rating2.merge(rating2.groupby('ISBN')['bookRating'].count().to_frame().reset_index(),left_on='ISBN',right_on='ISBN',suffixes =['',' book_review_count'],how='left')

In [234]:
rating2=rating2.merge(rating2.groupby('userID')['bookRating'].mean().to_frame().reset_index(),left_on='userID',right_on='userID',suffixes =['',' user_avg'],how='left')
rating2=rating2.merge(rating2.groupby('userID')['bookRating'].count().to_frame().reset_index(),left_on='userID',right_on='userID',suffixes =['',' user_review_count'],how='left')

In [236]:
rating2=rating2.merge(rating2.groupby('ISBN')['bookRating'].mean().to_frame().reset_index(),left_on='ISBN',right_on='ISBN',suffixes =['',' book_avg'],how='left')
rating2=rating2.merge(rating2.groupby('ISBN')['bookRating'].count().to_frame().reset_index(),left_on='ISBN',right_on='ISBN',suffixes =['',' book_review_count'],how='left')

In [229]:
rating2.shape

(1149780, 5)

In [237]:
rating2

         userID         ISBN  bookRating  bookRating user_avg  bookRating user_review_count  bookRating book_avg  bookRating book_review_count
0        276725   034545104X           0             0.000000                             1             2.933333                            60
1        276726   0155061224           5             5.000000                             1             2.500000                             2
2        276727   0446520802           0             0.000000                             1             4.060345                           116
3        276729   052165615X           3             4.500000                             2             3.000000                             1
4        276729   0521795028           6             4.500000                             2             6.000000                             1
5        276733   2080674722           0             0.000000                             1             3.666667                             3
6        276736   3257224281           8             8.000000                             1             5.400000                             5
7        276737   0600570967           6             6.000000                             1             6.000000                             1
8        276744   038550120X           7             7.000000                             1             3.336957                           184
9        276745    342310538          10            10.000000                             1             5.000000                             2
10       276746   0425115801           0             0.000000                             6             2.529851                           134
11       276746   0449006522           0             0.000000                             6             3.504505                           111
12       276746   0553561618           0             0.000000                             6             2.153285                           137
13       276746   055356451X           0             0.000000                             6             2.623529                           170
14       276746   0786013990           0             0.000000                             6             3.285714                             7
15       276746   0786014512           0             0.000000                             6             0.000000                            11
16       276747   0060517794           9             5.000000                             8             3.636364                            66
17       276747   0451192001           0             5.000000                             8             1.872093                            86
18       276747   0609801279           0             5.000000                             8             1.818182                            22
19       276747   0671537458           9             5.000000                             8             1.386364                            88
20       276747   0679776818           8             5.000000                             8             3.340426                            47
21       276747   0943066433           7             5.000000                             8             7.000000                             1
22       276747   1570231028           0             5.000000                             8             0.000000                             2
23       276747   1885408226           7             5.000000                             8             7.000000                             1
24       276748   0747558167           6             3.000000                             2             3.750000                             4
25       276748   3442437407           0             3.000000                             2             3.015625                            64
26       276751   033390804X           0             4.000000                             2             0.000000                             1
27       276751   3596218098           8             4.000000                             2             1.142857                             7
28       276754   0684867621           8             8.000000                             1             3.618644                           118
29       276755   0451166892           5             5.000000                             1             3.201754                           228
...         ...          ...         ...                  ...                           ...                  ...                           ...
1149750  276690   0312970188           0             0.000000                             9             2.125000                             8
1149751  276690   0440439884           0             0.000000                             9             3.843373                            83
1149752  276690   0590453653           0             0.000000                             9             1.596491                            57
1149753  276690   0590453688           0             0.000000                             9             0.617021                            47
1149754  276690   0590455419           0             0.000000                             9             2.400000                             5
1149755  276690   0590464116           0             0.000000                             9             1.333333                             6
1149756  276690   0590581066           0             0.000000                             9             0.000000                             4
1149757  276690   0590907301           0             0.000000                             9             0.000000                             1
1149758  276697   8445072897           0             0.000000                             1             2.333333                             3
1149759  276704   0152022597           0             1.882353                            17             0.000000                             4
1149760  276704   0312873115           0             1.882353                            17             4.000000                            17
1149761  276704   0345386108           6             1.882353                            17             1.834646                           127
1149762  276704   0380796155           5             1.882353                            17             2.500000                             2
1149763  276704   0395404258           0             1.882353                            17             2.300000                            20
1149764  276704   0425060772           0             1.882353                            17             1.481481                            27
1149765  276704   0440206529           0             1.882353                            17             1.619048                            21
1149766  276704   0441007813           0             1.882353                            17             3.326087                            46
1149767  276704   0446353957           0             1.882353                            17             3.016949                            59
1149768  276704   0446605409           0             1.882353                            17             3.160714                           112
1149769  276704   059032120X           0             1.882353                            17             0.000000                             3
1149770  276704   0679752714           0             1.882353                            17             0.000000                             1
1149771  276704   0743211383           7             1.882353                            17             3.710280                           107
1149772  276704   080410526X           0             1.882353                            17             2.891051                           257
1149773  276704   0806917695           5             1.882353                            17             5.000000                             1
1149774  276704   0876044011           0             1.882353                            17             0.000000                             3
1149775  276704   1563526298           9             1.882353                            17             7.000000                             3
1149776  276706   0679447156           0             0.000000                             1             2.925000                            40
1149777  276709   0515107662          10            10.000000                             1             3.454545                            44
1149778  276721   0590442449          10            10.000000                             1             1.200000                            15
1149779  276723  05162443314           8             8.000000                             1             8.000000                             1

[1149780 rows x 7 columns]

In [238]:
rating2.rename(columns={'bookRating user_avg':'user_avg'
                        ,'bookRating book_avg':'book_avg'
                       ,'bookRating user_review_count':'user_review_count'
                       ,'bookRating book_review_count':'book_review_count'}, inplace=True)

In [239]:
rating2

         userID         ISBN  bookRating   user_avg  user_review_count  book_avg  book_review_count
0        276725   034545104X           0   0.000000                  1  2.933333                 60
1        276726   0155061224           5   5.000000                  1  2.500000                  2
2        276727   0446520802           0   0.000000                  1  4.060345                116
3        276729   052165615X           3   4.500000                  2  3.000000                  1
4        276729   0521795028           6   4.500000                  2  6.000000                  1
5        276733   2080674722           0   0.000000                  1  3.666667                  3
6        276736   3257224281           8   8.000000                  1  5.400000                  5
7        276737   0600570967           6   6.000000                  1  6.000000                  1
8        276744   038550120X           7   7.000000                  1  3.336957                184
9        276745    342310538          10  10.000000                  1  5.000000                  2
10       276746   0425115801           0   0.000000                  6  2.529851                134
11       276746   0449006522           0   0.000000                  6  3.504505                111
12       276746   0553561618           0   0.000000                  6  2.153285                137
13       276746   055356451X           0   0.000000                  6  2.623529                170
14       276746   0786013990           0   0.000000                  6  3.285714                  7
15       276746   0786014512           0   0.000000                  6  0.000000                 11
16       276747   0060517794           9   5.000000                  8  3.636364                 66
17       276747   0451192001           0   5.000000                  8  1.872093                 86
18       276747   0609801279           0   5.000000                  8  1.818182                 22
19       276747   0671537458           9   5.000000                  8  1.386364                 88
20       276747   0679776818           8   5.000000                  8  3.340426                 47
21       276747   0943066433           7   5.000000                  8  7.000000                  1
22       276747   1570231028           0   5.000000                  8  0.000000                  2
23       276747   1885408226           7   5.000000                  8  7.000000                  1
24       276748   0747558167           6   3.000000                  2  3.750000                  4
25       276748   3442437407           0   3.000000                  2  3.015625                 64
26       276751   033390804X           0   4.000000                  2  0.000000                  1
27       276751   3596218098           8   4.000000                  2  1.142857                  7
28       276754   0684867621           8   8.000000                  1  3.618644                118
29       276755   0451166892           5   5.000000                  1  3.201754                228
...         ...          ...         ...        ...                ...       ...                ...
1149750  276690   0312970188           0   0.000000                  9  2.125000                  8
1149751  276690   0440439884           0   0.000000                  9  3.843373                 83
1149752  276690   0590453653           0   0.000000                  9  1.596491                 57
1149753  276690   0590453688           0   0.000000                  9  0.617021                 47
1149754  276690   0590455419           0   0.000000                  9  2.400000                  5
1149755  276690   0590464116           0   0.000000                  9  1.333333                  6
1149756  276690   0590581066           0   0.000000                  9  0.000000                  4
1149757  276690   0590907301           0   0.000000                  9  0.000000                  1
1149758  276697   8445072897           0   0.000000                  1  2.333333                  3
1149759  276704   0152022597           0   1.882353                 17  0.000000                  4
1149760  276704   0312873115           0   1.882353                 17  4.000000                 17
1149761  276704   0345386108           6   1.882353                 17  1.834646                127
1149762  276704   0380796155           5   1.882353                 17  2.500000                  2
1149763  276704   0395404258           0   1.882353                 17  2.300000                 20
1149764  276704   0425060772           0   1.882353                 17  1.481481                 27
1149765  276704   0440206529           0   1.882353                 17  1.619048                 21
1149766  276704   0441007813           0   1.882353                 17  3.326087                 46
1149767  276704   0446353957           0   1.882353                 17  3.016949                 59
1149768  276704   0446605409           0   1.882353                 17  3.160714                112
1149769  276704   059032120X           0   1.882353                 17  0.000000                  3
1149770  276704   0679752714           0   1.882353                 17  0.000000                  1
1149771  276704   0743211383           7   1.882353                 17  3.710280                107
1149772  276704   080410526X           0   1.882353                 17  2.891051                257
1149773  276704   0806917695           5   1.882353                 17  5.000000                  1
1149774  276704   0876044011           0   1.882353                 17  0.000000                  3
1149775  276704   1563526298           9   1.882353                 17  7.000000                  3
1149776  276706   0679447156           0   0.000000                  1  2.925000                 40
1149777  276709   0515107662          10  10.000000                  1  3.454545                 44
1149778  276721   0590442449          10  10.000000                  1  1.200000                 15
1149779  276723  05162443314           8   8.000000                  1  8.000000                  1

[1149780 rows x 7 columns]

In [157]:
rating2.shape

(1149780, 7)

In [158]:
rating.shape

(1149780, 3)

In [159]:
ldf=rating2

In [103]:
ldfu=ldf.groupby('userID')
ldfb=ldf.groupby('ISBN')
user_avg=ldfu.bookRating.mean()
user_review_count=ldfu.userID.count()
book_avg=ldfb.bookRating.mean()
book_review_count=ldfb.ISBN.count()
nldf=ldf.copy()
nldf.set_index(['ISBN'], inplace=True)
nldf['book_avg']=book_avg
nldf['book_review_count']=book_review_count
nldf.reset_index(inplace=True)
nldf.set_index(['userID'], inplace=True)
nldf['user_avg']=user_avg
nldf['user_review_count']=user_review_count
nldf.reset_index(inplace=True)

In [240]:
def recompute_frame(ldf):
    """
    takes a dataframe ldf, makes a copy of it, and returns the copy
    with all averages and review counts recomputed
    this is used when a frame is subsetted.
    """
    ldfu=ldf.groupby('userID')
    ldfb=ldf.groupby('ISBN')
    user_avg=ldfu.bookRating.mean()
    user_review_count=ldfu.userID.count()
    book_avg=ldfb.bookRating.mean()
    book_review_count=ldfb.ISBN.count()
    nldf=ldf.copy()
    nldf.set_index(['ISBN'], inplace=True)
    nldf['book_avg']=book_avg
    nldf['book_review_count']=book_review_count
    nldf.reset_index(inplace=True)
    nldf.set_index(['userID'], inplace=True)
    nldf['user_avg']=user_avg
    nldf['user_review_count']=user_review_count
    nldf.reset_index(inplace=True)
    return nldf

In [241]:
def make_smaller(df, bizcount, usercount):
    smallidf1=df[(df.book_review_count > bizcount)]
    smallidf1=recompute_frame(smallidf1)
    smallidf2=smallidf1[(smallidf1.user_review_count > usercount)]
    smalldf=recompute_frame(smallidf2)
    return smalldf

In [259]:
b1=rating2[(rating2.book_review_count > 100)]
recompute_frame(b1)

        userID        ISBN  bookRating   user_avg  user_review_count  book_avg  book_review_count
0       276727  0446520802           0   0.000000                  1  4.060345                116
1       276744  038550120X           7   7.000000                  1  3.336957                184
2       276746  0425115801           0   0.000000                  4  2.529851                134
3       276746  0449006522           0   0.000000                  4  3.504505                111
4       276746  0553561618           0   0.000000                  4  2.153285                137
5       276746  055356451X           0   0.000000                  4  2.623529                170
6       276754  0684867621           8   8.000000                  1  3.618644                118
7       276755  0451166892           5   5.000000                  1  3.201754                228
8       276762  0451167317           0   0.000000                  1  3.392157                153
9       276788  043935806X           7   7.000000                  1  5.571856                334
10      276796  0330332775           5   5.000000                  1  4.130769                130
11      276804  0440498058           8   8.000000                  1  4.550633                158
12      276822  0060096195          10  10.000000                  2  4.028037                107
13      276822  0786817070          10  10.000000                  2  3.559748                159
14      276832  0316781266           0   2.500000                  2  2.757426                202
15      276832  0345446860           5   2.500000                  2  3.694656                131
16      276847  0446364193           0   0.000000                  1  3.127517                298
17      276896  0440241537          10  10.000000                  1  2.908714                241
18      276925  002542730X          10   3.600000                  5  3.514620                171
19      276925  0316666343           0   3.600000                  5  4.468726               1295
20      276925  0385504209           8   3.600000                  5  4.652322                883
21      276925  0804106304           0   3.600000                  5  3.063584                519
22      276925  0971880107           0   3.600000                  5  1.019584               2502
23      276929  0439064864           0   0.000000                  1  6.611765                170
24      276939  059035342X           0   0.000000                  2  4.900175                571
25      276939  0971880107           0   0.000000                  2  1.019584               2502
26      276953  0446310786          10  10.000000                  1  4.920308                389
27      276954  0971880107           0   0.000000                  1  1.019584               2502
28      276957  0312966970           6   6.000000                  1  3.724444                225
29      276964  0425172546           0   5.666667                  3  2.240506                158
...        ...         ...         ...        ...                ...       ...                ...
137431  276680  0316666343           7   6.222222                 18  4.468726               1295
137432  276680  0345436911           8   6.222222                 18  3.573913                115
137433  276680  0375727132           8   6.222222                 18  3.177419                124
137434  276680  0375727345           8   6.222222                 18  3.039855                552
137435  276680  0385335482           0   6.222222                 18  3.634286                350
137436  276680  0385504209           8   6.222222                 18  4.652322                883
137437  276680  0385721420           0   6.222222                 18  2.371257                167
137438  276680  0425092917           8   6.222222                 18  2.074380                121
137439  276680  0440221595           8   6.222222                 18  3.075862                145
137440  276680  0446670251           0   6.222222                 18  3.772973                185
137441  276680  0452283205           7   6.222222                 18  3.870229                131
137442  276680  0679731725           0   6.222222                 18  2.823529                102
137443  276680  0679781587           9   6.222222                 18  4.381847                639
137444  276680  0743203631           7   6.222222                 18  3.417323                127
137445  276681  0060930535           9   8.666667                  3  3.609312                494
137446  276681  0060938455           9   8.666667                  3  4.037383                321
137447  276681  0399144463           8   8.666667                  3  3.975309                162
137448  276683  0345337662           0   0.000000                  1  3.535573                506
137449  276688  006101351X           0   0.000000                  7  2.392857                364
137450  276688  0375706771           0   0.000000                  7  3.113158                380
137451  276688  0446364800           0   0.000000                  7  2.465116                129
137452  276688  0446604666           0   0.000000                  7  3.406061                165
137453  276688  0553569155           0   0.000000                  7  2.636364                110
137454  276688  0679751521           0   0.000000                  7  3.229730                148
137455  276688  068484267X           0   0.000000                  7  3.681818                220
137456  276690  0064400557           0   0.000000                  1  4.782946                129
137457  276704  0345386108           6   3.250000                  4  1.834646                127
137458  276704  0446605409           0   3.250000                  4  3.160714                112
137459  276704  0743211383           7   3.250000                  4  3.710280                107
137460  276704  080410526X           0   3.250000                  4  2.891051                257

[137461 rows x 7 columns]

In [214]:
# rating2[rating2.book_review_count>100]

In [219]:
rating2.shape

(1149780, 9)

In [163]:
rating2['user_review_count'].quantile(np.arange(0,1,0.1))

0.0     1.0
0.1     1.0
0.2     1.0
0.3     1.0
0.4     1.0
0.5     1.0
0.6     2.0
0.7     3.0
0.8     5.0
0.9    12.0
Name: user_review_count, dtype: float64

In [164]:
rating2['book_review_count'].quantile(np.arange(0,1,0.1))

0.0      1.0
0.1      1.0
0.2      2.0
0.3      3.0
0.4      5.0
0.5      8.0
0.6     14.0
0.7     26.0
0.8     52.0
0.9    124.0
Name: book_review_count, dtype: float64

In [165]:
rating['userID'].value_counts().quantile(np.arange(0,1,0.1))

0.0     1.0
0.1     1.0
0.2     1.0
0.3     1.0
0.4     1.0
0.5     1.0
0.6     2.0
0.7     3.0
0.8     5.0
0.9    12.0
Name: userID, dtype: float64

In [166]:
rating2.describe()

             userID    bookRating       user_avg      book_avg  user_review_count  book_review_count
count  1.149780e+06  1.149780e+06  105283.000000  1.149780e+06      105283.000000       1.149780e+06
mean   1.403864e+05  2.866950e+00       4.394235  2.866950e+00          10.920851       4.918527e+01
std    8.056228e+04  3.854184e+00       3.411761  2.244484e+00          90.562825       1.524487e+02
min    2.000000e+00  0.000000e+00       0.000000  0.000000e+00           1.000000       1.000000e+00
25%    7.034500e+04  0.000000e+00       0.000000  1.357143e+00           1.000000       2.000000e+00
50%    1.410100e+05  0.000000e+00       4.600000  2.733333e+00           1.000000       8.000000e+00
75%    2.110280e+05  7.000000e+00       7.500000  3.932642e+00           4.000000       3.600000e+01
max    2.788540e+05  1.000000e+01      10.000000  1.000000e+01       13602.000000       2.502000e+03

In [265]:
smalldf=make_smaller(rating2, 100, 10)
# smalldf.to_csv("rating2.csv", index=False)
# print "Number of Reviews",smalldf.shape[0]
# print "Number of Users", smalldf.user_id.unique().shape[0]
# print "Number of Businesses", smalldf.business_id.unique().shape[0]
# s,d=compute_supports(smalldf)

In [266]:
smalldf.shape

(77866, 7)

In [267]:
smalldf.head()

   userID        ISBN  bookRating  user_avg  user_review_count  book_avg  book_review_count
0  277195  0060391626          10  1.428571                 21  2.562500                 96
1  277195  0060502258           0  1.428571                 21  2.901554                193
2  277195  0060987561           0  1.428571                 21  2.857143                140
3  277195  0316666343           0  1.428571                 21  3.604982                562
4  277195  0330332775          10  1.428571                 21  3.428571                 42

In [247]:
trainlist=[]
testlist=[]
validatelist=[]
take=5
for k, v in smalldf.groupby('userID'):
    if np.mean(v.user_review_count) > 12:
        takenos=np.random.choice(range(take), size=take/2, replace=False)
        takelist=np.array([e in takenos for e in range(take)])
        validatelist.append(v[-take:][~takelist])#use those 
        testlist.append(v[-take:][takelist])#use the other 
        trainlist.append(v[:-take])
    else:
        trainlist.append(v)
traindf=pd.concat(trainlist)
validatedf=pd.concat(validatelist)
testdf=pd.concat(testlist)
print traindf.shape, validatedf.shape, testdf.shape

(68231, 7) (5781, 7) (3854, 7)

In [248]:
maskval=[e in set(validatedf.ISBN).difference(set(traindf.ISBN)) for e in validatedf.ISBN] 
masktest=[e in set(testdf.ISBN).difference(set(traindf.ISBN)) for e in testdf.ISBN] 
print np.sum(maskval), np.sum(masktest)

0 0

In [270]:
smalldf.ISBN.value_counts()

0971880107    598
0316666343    562
0385504209    409
0060928336    383
0312195516    336
0142001740    335
044021145X    331
067976402X    330
0440214041    329
0446672211    327
0679781587    323
0440211727    320
0316601950    308
0671027360    302
044023722X    294
0804106304    293
0440226430    280
059035342X    279
0345337662    277
0743418174    276
0446605239    276
0375727345    272
0345370775    270
0440222656    261
0060976845    256
0452282152    249
0060930535    248
0671003755    243
0440221471    241
0671021001    238
             ...
0425178102     53
0743211383     52
0688177859     51
043936213X     51
080411935X     51
0446525502     51
0385503954     50
0749397543     50
0385475721     50
0099771519     49
1573227331     49
006019491X     48
0425177173     48
0449912558     48
080213825X     47
0609610597     46
0316781142     46
0446519138     46
0061020710     45
0140042598     45
0553208845     43
0312982518     42
0330332775     42
076790592X     41
039592720X     41
0451204530     41
0552124753     36
0671027344     35
0552998486     33
0091867770     30
Name: ISBN, dtype: int64

In [269]:
smalldf.userID.value_counts()

11676     651
35859     344
16795     294
76352     288
23768     257
60244     256
232131    253
153662    252
238120    242
55492     242
102967    241
21014     239
78783     237
204864    234
230522    231
43246     222
185233    218
52584     211
135149    209
198711    207
196077    198
95359     197
175003    182
227447    180
36606     178
269566    178
148744    175
98741     174
211426    172
265115    172
         ...
102220     11
253771     11
244814     11
109864     11
135411     11
220095     11
15819      11
40110      11
233430     11
25966      11
26084      11
132392     11
49300      11
242528     11
184891     11
176887     11
274634     11
14667      11
215359     11
75595      11
173773     11
116763     11
206959     11
57726      11
118484     11
2793       11
201042     11
188022     11
76888      11
124876     11
Name: userID, dtype: int64